body {
  font-family: "Outfit", sans-serif;
  color: #f5f5f5;
  letter-spacing: 0.02em;
  line-height: 1.6;
}

main {
  border-radius: 8px;
  margin-top: 2rem;
}

a {
  text-decoration: none;
}

button, .btn {
  color: #fff;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  transition: background 0.3s;
}

input {
  color: white !important;
}

footer {
  font-size: 0.9rem;
}