/*.footer {*/
/*    background-color: white;*/
/*    border-radius: 1rem;*/
/*    padding: 1rem;*/
/*    margin: 1rem;*/
/*    background-color: rgba(255, 255, 255, 0.08);*/
/*    border: 1px solid rgba(198, 198, 198, 0.44);*/
/*}*/